nav {
    text-align: center;
}

a {
    text-decoration: none;
    text-decoration: transparent;
}
.flex-container{
    display: flex;
    border: 5px solid f;
    /* height: 100%; */
    width: 100%;
}

.flex-item{
    /* padding: 60px; */
    border: 10px;
    background-color: red;
    /* height: 100%; */
    width: 100%;
    


}

#head1 {
    text-align: center;
}

#para-text {
    text-align: center;
}

.codetext {
    color: pink;

}

#redcode {
    color: red;
}

main {
    padding-right: 50px;
    padding-left: 90px;
    text-align: justify;
}


footer {
    background-color: gray;
    text-align: center;
}

#foot1 {
    color: white;
    font-size: bold;
}

#foot2 {
    color: orange;
}